h1, .p {
  padding-top: 40px;
  text-align: center;
  font-family: 'Aleo', serif;
}

.p a {
  text-decoration: underline;
  color: blue;
}

.col{
  text-align: center;
  font-family: 'Aleo', serif;
}

.col-md-4{
  padding-top: 20px;
  text-align: center;
}

#ED {
  background: #e4e1df; /* OBSERVATORY WHITE */
}


.EMS.county {
  fill: #a79d96; /* ANGELL HALL ASH */
}

.ED.county {
  fill: #9b9a6d; /* BURTON TOWER BEIGE */
}

.ME.county {
  fill :#989c97; /* THE ROCK GRAY */
}

.mapEMS, .mapED, .mapME {
  margin-bottom : 20px;
}

path.county {
  stroke: #fff;
}

path.county:hover, circle.city:hover {
  fill: #ffcb05;
  cursor: pointer;
}

circle.city {
  fill: #587abc;
  stroke: white;
}
