h1, .p {
  padding-top: 40px;
  text-align: center;
  font-family: 'Aleo', serif;
}

.p a {
  text-decoration: underline;
  color: blue;
}

.col{
  text-align: center;
  font-family: 'Aleo', serif;
}

.col-md-4{
  padding-top: 20px;
  text-align: center;
}

#ED {
  background: #e4e1df; /* OBSERVATORY WHITE */
}


.EMS.county {
  fill: #587abc; /* CANHAM POOL BLUE */
}

.ED.county {
  fill: #575294; /* MATTHAEI VIOLET */
}

.ME.county {
  fill: #00274c; /* BLUE */
}

.mapEMS, .mapED, .mapME {
  margin-bottom : 20px;
}

/*Style for Custom Tooltip */
.tooltip {
  position: absolute !important;
  text-align: center !important;
  min-width: 80px !important;
  height: auto !important;
  padding: 10px !important;
  font-size: 14px !important;
  font-family: arial !important;
  background: rgba(0,0,0, 0.9) !important;
  color: #fff !important;
  border-radius: 5px !important;
  pointer-events: none !important;
  line-height: 1 !important;
}

.tooltip p {
  margin: 2px !important;
}

path.county {
  fill: #00274c !important;
  stroke: #fff !important;
}

path.county:hover, circle.city:hover {
  fill: #ffcb05 !important;
  cursor: pointer !important;
}

circle.city {
  fill: #587abc !important;
  stroke: white !important;
}
