<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="/static/css/report.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/static/img/icon_t.png">
</head>
<body>
  <div class="container-fluid">
    <!-- Heading -->
    <div id="sos-title" class="row">
      <div class="col-md-12">
        <img id="sos_logo" src="{{url_for('static',filename='img/SOS.png')}}" alt="SOS logo">
        <div class="headingobjects clearfix d-block">
          {% if data.cityorcounty == "city" %}
            {% if data.src in ['EMS', 'ME'] %}
              {% if data.propername == "Waterford" %}
                <h1> {{data.propername}} Township {{data.county_flag}}</h1>
              {% else %}
                <h1>City of {{data.propername}} {{data.county_flag}}</h1>
              {% endif %}
            {% else %}
              <h1> City of {{data.propername}} {{data.county_flag}} {{data.titlename}}</h1>
            {% endif %}

          {% else %}
            {% if data.src in ['EMS', 'ME'] %}
              <h1>{{ data.placename }} {{ data.county_flag }}</h1>
            {% else %}
              <h1>{{ data.placename }} {{ data.county_flag }} {{data.titlename}}</h1>
            {% endif %}

          {% endif %}

          <h3>
          {% if data.src == 'EMS' %}
            EMS Naloxone Administration Locations
          {% elif data.src == 'ED' %}
            Patients with Opioid Overdose ICD-10 Codes
          {% elif data.src == 'ME' %}
            Suspected Fatal Opioid Overdose Locations
          {% endif %}
          </h3>
          <h3 class='daterange'></h3>
        </div>
      </div>
    </div>

    <!-- Google Map -->
    <div id="map"></div>
    {% if data.src in ['EMS','ME'] %}
      <p>More recent overdose incident locations appear darker, and less recent incident locations appear more translucent</p>
      {% if data.src == 'EMS' %}
        <p id="locationdisclaimer">*Locations approximate</p>
      {% endif %}
    {% elif data.src == 'ED' %}
      <p>More recent overdose resident locations (points perturbed) appear darker, and less recent resident locations appear more translucent</p>
    {% endif %}

    <!-- Bar Line Combo -->
    <div class='barline'></div>

    <!-- D3 Donuts -->
    <div class="row">
      <div class="col-md-4 Age"></div>
      <div class="col-md-4 Race"></div>
      <div class="col-md-4 Gender"></div>
    </div>


    <!-- Footer -->
    <footer>
      <div class="row">
        <!-- style="background: url({{ url_for('static',filename='img/HIDTA.png') }}) top right no-repeat; background-size: 75px 80px; height: 82px;" -->
        <div class="col-md-12">
          <img id="hidta_logo" class= "float-right pull-right img-fluid" src ="{{url_for('static', filename='img/HIDTA.png')}}" alt="HIDTA logo">
          <p id="datasource_text">
            {% if data.src == 'EMS' and data.placename == 'Washtenaw' %}
              Data Source: Huron Valley Ambulance
            {% elif data.src == 'EMS' %}
              Data Source: Michigan EMS Information System (MI-EMSIS)
            {% elif data.src == 'ED' %}
              Data Source: Health Information Exchange Admit Discharge Transfer (ADT) message
            {% elif data.src == 'ME' %}
              {% if data.cityorcounty == "city" %}
                {% if data.county is not string %}
                  Data Source: Medical Examiner; {{ data.county|join(", ") }} Counties
                {% else %}
                  Data Source: {{ data.county }} County {{  data.county_flag }} Medical Examiner
                {% endif %}
              {% else %}
                Data Source: {{ data.placename }} {{ data.county_flag }} Medical Examiner
              {% endif %}
            {% endif %}
          </p>
          <img id="ipc_logo" src="{{ url_for('static',filename='img/IPC.png') }}" alt="Injury Prevention Center Logo">
        </div>
      </div>
    </footer>
<!-- tables under footer -->
    <div class= "alltables">
      <h2> Mean and Percent Change</h2>
      <div class="table-responsive">
        <table id="MeanAndChange" class="table table-bordered table-striped table-hover">
        </table>
      </div>
      {% if data.src == "EMS" %}
        <h2>EMS Table</h2>
        <div class="table-responsive">
          <table id="EMStable" class="table table-bordered table-striped table-hover">
          </table>
        </div>
      {% elif data.src == "ME" %}
        {% if data.placename in ['Wayne', 'Detroit'] %}
          <h2> Wayne County ME Table</h2>
          <div class="table-responsive">
            <table id="wayneMEtable" class="table table-bordered table-striped table-hover">
            </table>
          </div>
        {% else %}
          <h2>ME Table</h2>
          <div class="table-responsive">
            <table id="MEtable" class="table table-bordered table-striped table-hover">
            </table>
          </div>
        {% endif %}
      {% endif %}
      {% if data.cityorcounty == "county" %}
        <div class="table-pagebreak">
          <h2>Frequency per City</h2>
          <div class="table-responsive">
            <table id="CityFreq" class="table table-bordered table-striped table-hover">
            </table>
          </div>
          <h2>Frequency per Zip</h2>
          <div class="table-responsive">
            <table id="ZipFreq" class="table table-bordered table-striped table-hover">
            </table>
          </div>
        </div>
      {% else %}
        <div class="table-pagebreak">
          <h2>Frequency per Zip</h2>
          <div class="table-responsive">
            <table id="ZipFreq" class="table table-bordered table-striped table-hover">
            </table>
          </div>
        </div>
      {% endif %}
    </div>

  <script>
    var zoom = {{ data.zoom }}
    var center = {{ data.center }}
    var geojson_file = "{{ url_for('static',filename=data.f_geojson) }}"
  </script>
  <script src="{{ url_for('static',filename='data/county_src_gps.js') }}"></script>
  <script src="/static/js/gmap.js"></script>
  <script src="/static/js/bar_line_chart.js"></script>
  <script src="/static/js/donut_chart.js"></script>
  <script src="/static/js/table.js"></script>
  <script>
    make_bar_line_chart("{{ url_for('static',filename='data/county_src_daily.csv') }}");
    make_donut_chart("{{ url_for('static',filename='data/county_src_age.csv') }}",'Age');
    make_donut_chart("{{ url_for('static',filename='data/county_src_race.csv') }}",'Race');
    make_donut_chart("{{ url_for('static',filename='data/county_src_gender.csv') }}",'Gender');
    makeMeanTable("MeanAndChange", "{{ url_for('static',filename='data/county_src_ratechange.csv') }}");
    makeFreqTable("ZipFreq", "{{ url_for('static',filename='data/county_src_zipfreqtab.csv') }}")
    makeFreqTable("CityFreq","{{ url_for('static',filename='data/county_src_ctyfreqtab.csv') }}" )

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWcrEjQkOP_N22KyU6aPQitc4O-47sWCQ&callback=initMap">
  </script>

{% if data.src == 'EMS' %}
  <script>
    makeTable("EMStable", "{{ url_for('static',filename='data/county_src_evttab.csv') }}");
  </script>
{% endif %}

{% if data.src == 'ME'%}
  {% if data.placename in ['Wayne', 'Detroit']%}
    <script>
      makeTable("wayneMEtable", "{{ url_for('static',filename='data/county_src_evttab.csv') }}");
    </script>
  {% else %}
    <script>
      makeTable("MEtable", "{{ url_for('static',filename='data/county_src_evttab.csv') }}");
    </script>
  {% endif %}
{% endif %}

{% if data.src == 'ED' %}
  <script>

  </script>
{% endif %}

</body>
</html>
